.radio {
    
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.radio::before {
    box-shadow: 0 0 0 2px #2196f3;
}


.radio:checked::before {
    color:black
}

.label {
    padding: 2px;
    display: flex;
    margin-left: 100px;
    /* justify-content:center; */
}

.options {
}
