.radio {
    
    display: flex;
    flex-direction: column;
}

.radio::before {
}


.radio:checked::before {
    color:black
}

.label {
    padding: 2px;
    display: flex;
    margin-left: 100px;
    /* justify-content:center; */
}

.options {
}
