.App {
    --header_height: 60px;
    background: #baebcd;
    height: 100%;
}

.hw {
    display: flex;
    flex-direction: column;
    color:black;
    font-size: 24px;
    
}

.hwTitle {
color: black;
font-size: 38px;
font-weight: bold;
}