.sendForm {
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #d9d9d9;
}

.textarea {

  width: 800px;
  height: 40px;
  background: #939090;
  border: solid 1px black;
  border-radius: 10px;
 
  /* overflow: hidden; */
}

.button {
  width: 120px;
  height: 40px;

  background: #0066cc;
  border-radius: 20px;
}

.button:hover {
  background: #78a3ce;
  
}
.button:active {
  background: #19c140;
  
}
